# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

# Local packaging artifacts
/ios/*.ipa
/ios/*.app.dSYM.zip
/package-lock.json

have_to_ignore.md
# Secrets and environment variables
.env
.kiro


# ---------------------------------------
# Fastlane & Deployment (새로 추가)
# ---------------------------------------

# 1. 보안/인증 관련 (절대 올리면 안 됨!)
# Apple 로그인 세션, 인증서, provisioning profile, Android signing key 및 SDK 경로
**/fastlane_session
*.p12
*.cer
*.mobileprovision
*.keystore
*.jks
key.properties
local.properties

# 구글 플레이 API 키 (이 파일명은 본인이 저장한 이름으로 확인 필수!)
fastlane-api-key.*
*.json_key
play_store_api_key.json
android-key.json

# 2. Fastlane이 만드는 생성물 (올릴 필요 없음)
**/fastlane/report.xml
**/fastlane/Preview.html
**/fastlane/screenshots/
**/fastlane/test_output/
**/fastlane/readme.md

# 3. Mac 시스템 파일
.DS_Store

#4. 아직 업데이트 확정 안된 것
1.2.7/
