<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBoHPW-aQx3oW52LiXDhvAEbWeivDvjpRA</string>
	<key>GCM_SENDER_ID</key>
	<string>662206024135</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.moneyfitapp.app</string>
	<key>PROJECT_ID</key>
	<string>money-fit-2b3f7</string>
	<key>STORAGE_BUCKET</key>
	<string>money-fit-2b3f7.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:662206024135:ios:0e874f04ea6a87550331e2</string>
</dict>
</plist>